* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 90%;
    font-size: 2rem;
    background-color: rebeccapurple;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: sans-serif;
}

input {
    width: 12rem;
    height: 2.5rem;
    border-radius: .5rem;
    outline: none;
    border: none;
    padding: 5px;
    margin-bottom: 20px;
}

button {
    width: 6rem;
    height: 2.5rem;
    border-radius: .5rem;
    outline: none;
    padding: 5px;
    margin-bottom: 20px;
    cursor: pointer;
}

#reset {
    background-color: red;
    color: #fff;
}